<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iitu.session.cookiesLoginLogout.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ProfileServlet</display-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>iitu.session.cookiesLoginLogout.ProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iitu.session.cookiesLoginLogout.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

<!--    HIDDEN FORM-->
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>iitu.session.hidden.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>iitu.session.hidden.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

<!--    URL REWRITING-->
    <servlet>
        <servlet-name>s1url</servlet-name>
        <servlet-class>iitu.session.urlRewriting.UrlReFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s1url</servlet-name>
        <url-pattern>/servlet1url</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2url</servlet-name>
        <servlet-class>iitu.session.urlRewriting.UrlReSecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s2url</servlet-name>
        <url-pattern>/servlet2url</url-pattern>
    </servlet-mapping>

<!--    HTTP Session-->
    <servlet>
        <servlet-name>httpS1</servlet-name>
        <servlet-class>iitu.session.httpsession.HttpFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>httpS1</servlet-name>
        <url-pattern>/httpServlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>httpS2</servlet-name>
        <servlet-class>iitu.session.httpsession.HttpSecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>httpS2</servlet-name>
        <url-pattern>/httpServlet2</url-pattern>
    </servlet-mapping>

<!--    Sessions Login/Logout-->
    <servlet>
        <description></description>
        <display-name>SessionLoginServlet</display-name>
        <servlet-name>SessionLoginServlet</servlet-name>
        <servlet-class>iitu.session.sessionsLoginLogout.SLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionLoginServlet</servlet-name>
        <url-pattern>/SessionLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SessionProfileServlet</display-name>
        <servlet-name>SessionProfileServlet</servlet-name>
        <servlet-class>iitu.session.sessionsLoginLogout.SProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionProfileServlet</servlet-name>
        <url-pattern>/SessionProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SessionLogoutServlet</display-name>
        <servlet-name>SessionLogoutServlet</servlet-name>
        <servlet-class>iitu.session.sessionsLoginLogout.SLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionLogoutServlet</servlet-name>
        <url-pattern>/SessionLogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
